
.airplane-container:nth-child(1n) {
    top: 60px;
    left: -500px;
    transform: scale(0.5);
   animation: move-airplane 5s infinite;

}
.airplane-container:nth-child(2n) {
    left: -600px;
    top: 100px;
    transform: scale(0.5);
    animation: move-airplane 6s infinite;
}

.airplane-container {
    top: 10%;
    position: absolute;
   /* margin: 100px; */
   /* margin: 200px 0; */
}

@keyframes move-airplane {
    100% {
        transform: scale(0.5) translateX(5000px);
    }
}




.airplane {
    position: absolute;
    top: 30%;
    left: 200px;
    width: 400px;
    height: 60px;
    background-color: #f6f6f6;
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 30% 100%, 0% 20%);
    border-bottom: 10px solid #f2b714;
    z-index: 2;
    overflow: visible;
}

.airplane-before {
    /* content: ""; */
    position: absolute;
    background-color: #565656;
    left: 195px;
    width: 7px;
    height: 14px;
}

.airplane-header {
    position: absolute;
    left: 600px;
    top: 30%;
    width: 100px;
    height: 60px;
    background-color: #f6f6f6;
    border-top-right-radius: 100%;
    border-bottom: 10px solid #f2b714;
    overflow: hidden;
}

.airplane-header::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 30%;
    width: 15px;
    height: 20px;
    background: #565656;
    transform: rotate(-20deg);
    border-top-right-radius: 100%;
    /* border-radius: 5px; */
}
/* .airplane-header::after {
    content: "";
    position: absolute;
    right: 0px;
    width: 15px;
    top: 30%;

    height: 22px;
   border: 3px solid #d1d1d2;
    border-radius: 5px;
} */

.airoplane-down {
    position: absolute;
    top: calc(30% + 70px);
    height: 10px;
    width: 380px;
    left: 100px;
    background: linear-gradient(#b48e2e,#b48e2e);
    clip-path: polygon(0 0 , 100% 0, 80% 100%, 0% 100%);
    border-bottom-left-radius: 50%;
}

.window1 {
    position: absolute;
    right: 10px;
    top: 20%;
    display: flex;
}

.window2 {
    position: absolute;
    left: 100px;
    top: 20%;
    display: flex;
}

.window3 {
    position: absolute;
    left: 200px;
    top: 20%;
    display: flex;
}

.window {
    height: 6px;
    width: 6px;
    border-radius: 2px;
    background-color: #565656;
    margin: 0 1px;
}

.wing {
    position: absolute;

}

.wing-1{
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 30%);
    background-color: #f6f6f6;
    width: 100px;
    height: 50px;
    left: 430px;
    top: calc(30% + 70px);
    z-index: 5;
    transform: rotate(-45deg) skewX(44deg);
}

.wing-2 {
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 20%);
    background-color: #e4e0dd;
    width: 100px;
    height: 50px;
    left: 430px;
    top: -20px;
    z-index: 1;
    transform: rotate(35deg) skewX(44deg);
    overflow: visible;
}

.wing-2::after{
    content: "";
    position: absolute;
    top: -20px;
    height: 50px;
    width: 20px;
    background: #f44e3f;
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 100%); 
}
.wing-1::after{
    content: "";
    position: absolute;
    top: -20px;
    left: -0px;
    z-index: 10;
    height: 50px;
    width: 20px;
    background: #f44e3f;
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 100%); 
}

.wing-3{
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 30%);
    background-color: #f6f6f6;
    width: 80px;
    height: 40px;
    left: 180px;
    top: 20px;
    z-index: 9;
    transform: rotate(-35deg) skewX(44deg);
}

.wing-4 {
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 20%);
    background-color: #f6f6f6;
    width: 80px;
    height: 30px;
    left: 180px;
    top: -20px;
    z-index: 1;
    transform: rotate(35deg) ;
}

.back-circle {
    z-index: 10;
    position: absolute;
    left: 230px;
    top: 35px;
    width: 80px;
    height: 20px;
    background-color: #f6f6f6;
    border-radius: 50%;
    transform: rotate(15deg)
}

.cloud {
	background: #fff;
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: absolute;
    width: 350px;
    top: 10px;
}

.cloud {
    border-radius: 20px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    position: relative;
    width: 100px;
    z-index: 100;
}

.cloud::after, .cloud::before {
	content: '';
	position: absolute;
    z-indeX: -1;
    z-index: 10;
    background: #fff;
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
}

.cloud::after {
    border-radius: 50%;
    height: 60px;
    right: 6px;
    top: -20px;
    width: 60px;
    z-index: 14;
}

.cloud::before {
    border-radius: 50%;
    height: 60px;
    left: -10px;
    top: -30px;
    width: 60px;
    z-index: 14;
    
}

.clouds {
    position: absolute;
    top: 2%;
    left: 40%;
    width: 100%;
    height: 100%;

}
.cloud-one {
    position: absolute;
    top: 0%;
    left: 20%;
    animation: move-cloud 5s infinite;

}
.cloud-two {
    position: absolute;
    top: 7%;
    left: 30%;
    animation-delay: 2s;
    animation: move-cloud 5s infinite;

}
.cloud-three {
    left: 40%;
    position: absolute;
    top: 5%;
    animation: move-cloud 5s infinite;

}

.ambulance-container2 {
    position: absolute;
    left: 60%;
    top: -90%;
    width: 100%;
    height: 100%;
    transform-origin: left;
    /* transform: rotate(270deg); */
}

.light {
    position: absolute;
    background-color: blue;
    height: 4px;
    width: 10px;
    left: 35%;
    top: -3%;

    z-index: 15;
}

.tower {
    position: absolute;
    left:40%;
    bottom: 29%;
    width: 50px;
    height: 50%;
    border: 1px dashed red;
    clip-path: polygon(30% 0, 60% 0, 100% 100%, 0% 100%);
    background: linear-gradient(0deg, #ff335f 0%, #ff335f 16%, #ffffff 17%, #ffffff 32%, #ff335f 33%, #ff335f 48%, #ffffff 49%, #ffffff 64%, #ff335f 65%, #ff335f 80%, #ffffff 81%, #ffffff 90%, #ff335f 91%, #ff335f 100%);
}


.tower-after{
    position: absolute;
    top: 35%;
    z-index: 99;
    background: linear-gradient( transparent 0%, transparent 50%, white 51%, white 100%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 39%;
    z-index: 1;
}

.tower-after::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 15%;
    background: #4964d8;
    width: 70%;
    height: 10px;
    border-radius: 10%;
}

.tower-after1{
    content: "";
    position: absolute;
    top: 31%;
    z-index: 99;
    background: linear-gradient( #ff6686 0%, #ff6686 50%, white 51%, white 100%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 39%;
}
.tower-above {
    position: absolute;
    left:40%;
    bottom: 59%;
    width: 40px;
    height: 20%;
    border: 1px dashed red;
    clip-path: polygon(30% 0, 60% 0, 100% 100%, 0% 100%);
    background: linear-gradient(0deg, #ff335f 0%, #ff335f 25%, #ffffff 26%, #ffffff 50%, #ff335f 51%, #ff335f 75%, #ffffff 76%, #ffffff 100%);
}
