
* {
    margin: 0;
    padding: 0;
}


body {
    /* background: linear-gradient(#f8792d, #f8792d); */
    font-family: sans-serif;
}

.container {
    width: 800px;
    height: 500px;
    /* background-color: white; */
    position: absolute;
    bottom: 15%;
    animation: move-left 10s forwards;
    z-index: 4;


}

.bus-container {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 40%;
    height: 25%;
    background-color: #80ba41;
    border-radius: 10px;
}

@keyframes move-left {
    100% {
        transform: translateX(1000px);
    }
}

.tyre-container {
    width: 35%;
    height: 15%;
    position: absolute;
    bottom: 12%;
    left: 15%;   
    z-index: 12;

}

.tyre-container .tyre-container-top {
    position: absolute;
    top: 15%;
    background: linear-gradient(#1b1929 0, #1b1929 50%, transparent 51%, transparent 100%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-radius:50%;
}


.tyre-container .tyre-container-top .tyre {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 10%;
    left: 8%;
    background-color: #2d2a3e;
    z-index: 2;
    animation: rotate-wheel 200s infinite;
}

@keyframes rotate-wheel {
    50% {
        transform: rotate(36000deg);
    }
}



.tyre-container .tyre-container-top:nth-child(1) {
    left: 0%;
}


.tyre-container .tyre-container-top:nth-child(2) {
    right: 25%;  
}

.tyre-container .tyre .inside {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #706f8f;
    border: 8px solid #1c1c22;
}

.tyre-container .tyre .inside::after {
    content: "";
    background-color: #2f2e3f;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.tyre-container .tyre .inside div {
    position: absolute;
    background-color: #312e46;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.tyre-container .tyre .inside div:nth-child(1) {
    left: 15px;
    top: 3px;
}
.tyre-container .tyre .inside div:nth-child(2) {
    left: 5px;
    top: 4px;
}
.tyre-container .tyre .inside div:nth-child(3) {
    left: 2px;
    top: 14px;
}
.tyre-container .tyre .inside div:nth-child(4) {
    left: 9px;
    top: 20px;
    
}
.tyre-container .tyre .inside div:nth-child(5) {
    left: 17px;
    top: 17px;
}
.tyre-container .tyre .inside div:nth-child(6) {
    left: 20px;
    top: 10px;
}

.window-container {
    position: absolute;
    top: 10%;
    width: 70%;
    height: 30%;
    left: 5%;
    box-sizing: border-box;
}
.door-container {
    /* border: 1px dotted red; */
    height: 100%;
    width: 20%;
    position: absolute;
    left: 78%;
}
.door-container div:nth-child(1) {
    position: absolute;
    background-color: #565672;
    height: 80%;
    top: 10%;
    width: 55%;
    border: 3px solid #30303f;
}
.door-container div:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: -10%;
    height: 10%;
    width: 100%;
    background-color: black;
    border: 3px solid black;
    left: -3px;
}
.door-container div:nth-child(2) {
    position: absolute;
    background: linear-gradient(#565672 0%, #565672 48%, transparent 49%, transparent 100%);
    height: 100%;
    top: 10%;
    width: 50%;
    left: 60%;
    border-top: 3px solid #30303f;

}

.window-container div {
    position: absolute;
    top: 0;
    border: 3px solid #30303f;
    height: 10%;
    width: 14% !important;

}


.window-container div:nth-child(1) {
    width: 14%;
    left: 0;
    background: linear-gradient(-45deg, #565672 0%, #565672 20%, #727190 21%, #727190 30%, #565672 31%, #565672 60%, #727190 61%,#727190 70%, #565672 71%, #565672 20%);

}
.window-container div:nth-child(2) {
    width: 18%;
    left: 18%;
    background: linear-gradient(-45deg, #565672 0%, #565672 20%, #565672 21%, #565672 30%, #565672 31%, #565672 60%, #727190 61%,#727190 70%, #565672 71%, #565672 20%);

}
.window-container div:nth-child(3) {
    width: 18%;
    left: 40%;
    background: linear-gradient(-45deg, #565672 0%, #565672 20%, #727190 21%, #727190 30%, #565672 31%, #565672 60%, #727190 61%,#727190 70%, #565672 71%, #565672 20%);

}
.window-container div:nth-child(4) {
    width: 18%;
    left: 62%;
    /* background: linear-gradient(-45deg, #565672 0%, #565672 20%, #565672 21%, #565672 30%, #565672 31%, #565672 60%, #727190 61%,#727190 70%, #565672 71%, #565672 20%); */
    background: linear-gradient(-45deg, #565672 0%, #565672 20%, #727190 21%, #727190 30%, #565672 31%, #565672 60%, #727190 61%,#727190 70%, #565672 71%, #565672 20%);

}
.window-container div:nth-child(5) {
    width: 16%;
    left: 83%;
    background: linear-gradient(-45deg, #565672 0%, #565672 20%, #565672 21%, #565672 30%, #565672 31%, #565672 60%, #727190 61%,#727190 70%, #565672 71%, #565672 20%);

}

.center-line {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 78%;
    border-top: 4px solid #5fa226;
}
.center-line div {
    position: absolute;
}
.center-line div:nth-child(1) {
    width: 13%;
    border-right: 4px solid #5fa226;
    height: 96%;
    /* border: 2px dotted red; */
}
.center-line div:nth-child(2) {
    width: 30%;
    border-right: 4px solid #5fa226;
    height: 96%;
    left: 13%;
    /* border: 2px dotted red; */
}
.center-line div:nth-child(3) {
    width: 12%;
    border-right: 4px solid #5fa226;
    height: 96%;
    left: 43%;
    /* border: 2px dotted red; */
}

.center-line div:nth-child(4) {
    width: 15%;
    /* background-color: red; */
    border-right: 4px solid #5fa226;
    height: 96%;
    left: 55%;
    /* border: 2px dotted red; */
}

.center-line div:nth-child(4)::after, .center-line div:nth-child(3)::after{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 45%;
    width: 10px;
    height: 4px;
    background: #ff751e;
}
.center-line div:nth-child(2)::before, .center-line div:nth-child(5)::before, .center-line div:nth-child(4)::before, .center-line div:nth-child(3)::before{
    content: "";
    position: absolute;
    top: 10%;
    left: 45%;
    width: 10px;
    height: 4px;
    background: #282b48;
}

.center-line div:nth-child(5) {
    width: 29%;
    border-right: 4px solid #5fa226;
    height: 100%;
    left: 70%;
    /* border: 2px dotted red; */
}
.center-line div:nth-child(5)::after {
    content: "";
    position: absolute;
    background-color:  #62a429;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 5%;
    top: 30%;
}

.center-line div:nth-child(2) .top, .center-line div:nth-child(5) .top {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 3px;
    background-color: #5fa226;
}

.light {
    background-color: #ea2e2d;
    height: 25px;
    width: 6px;
    position: absolute;
    bottom: 20%;
}
.petrol-tank {
    position: absolute;
    width: 120%;
    left: -20%;
    bottom: 0;
    border: 3px solid #5fa226;
    height: 20%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: none;
    background-color: #80ba41;
}
.petrol-tank::after {
    content: "";
    position: absolute;
    bottom: 100%;
    height: 200%;
    width: 35%;
    left: 45%;
    background-color: #61a327;
}

.mirror {
    position: absolute;
    top: 5%;
    right: -20px;
    height: 30px;
    width: 10px;
    background-color: #302e43;
    border-radius: 3px;
}
.mirror::after {
    content: "";
    position: absolute;
    background-color: #7eb92f;
    width: 20px;
    height: 5px;
    left: -19px;
}

.bus-top {
    position: absolute;
    top: -10%;
    width: 70%;
    height: 10%;
    /* border: 2px dotted red; */
    left: 10%;
}

.bus-top div {
    position: absolute;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    background-color: #62a028;
    bottom: 0;
}
.bus-top div:nth-child(1) {
    left: 10%;
    width: 40%;
    height: 35%;
}
.bus-top div:nth-child(2) {
    left: 70%;
    width: 10%;
    height: 35%;
}
.bus-top div:nth-child(3) {
    left: 90%;
    width: 10%;
    height: 35%;
}

.last-window span:nth-child(1) {
    position: absolute;
    height: 10%;
    bottom: 20%;
    width: 99%;
    border-top: 3px solid #5ea226;
}

.shadow {

    height: 10px;
    width: 40%;
    background-color: #d9e1e3;
    opacity: 0.5;
    bottom: 12%;
    left: 10%;
    border-radius: 20px;
    position: absolute;
    z-index: 10;
}

.road {
    position: absolute;
    background-color: #656665;
    bottom: 15%;
    height: 10%;
    width: 100%;
    min-width: 1200px;
}
.road::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 40%;
    border-top: 2px dashed white;
}



.bus-stop {
    position: absolute;
    bottom: 20%;
    right: 100px;
    /* right: 100px; */
    width: 200px;
    height: 200px;
    border-radius: 10px;
    /* border: 1px solid red; */
    animation: bus-stop 10s infinite;
    z-index: 3;

}

@keyframes bus-stop  {
    100% {
        right: 100px;
    }
}


.bus-stop-top {
    position: absolute;
    background-color: #80ba3f;
    left: -5%;
    top: -40px;
    height: 40px;
    width: 110%;
    border-radius: 30px;
    border-bottom:5px solid #2e2d44;
}

.bus-stop-left {
    position: absolute;
    background-color: #2e2d44;
    left: 0%;
    height: 100%;
    width: 8px;
    
}
.bus-stop-right {
    position: absolute;
    background-color: #2e2d44;
    right: 0%;
    height: 100%;
    width: 8px;
}

.bus-stop-back {
    position: absolute;
    background-color: #d9e1e3;
    width: 90%;
    left: 5%;
    top: 10%;
    height: 60%;
}

.seat-container {
    position: absolute;
    height: 40%;
    width: 80%;
    left: 10%;
    /* border: 2px dotted red; */
    bottom: 10%;
    display: flex;
    justify-content: space-evenly;
}

.seat {
    width: 32%;
    height: 60%;
    background-color: #b2c1c6;
    border-right: 5px solid black;
}

.seat-container .seat:nth-child(1) {
    border-left: 5px solid black;

}
.seat-container .line {
    width: 110%;
    height: 5px;
    background-color: black;
    position: absolute;
    bottom: 40%;
}

.seat-container .line::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 5px;
    top: 100%;
    background-color: black;
    left: 20%;
}
.seat-container .line::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 5px;
    top: 100%;
    background-color: black;
    right: 20%;
}





.container1 {
    position: relative;
    width:  100vw;
    height: 650px;
    background: #ffffff;
    overflow: hidden;
    animation: animate-container 15s infinite;
}

@keyframes animate-container {
    0% {
        background-color: #c579a4;
    }
    49% {
        background-color: #f8792d;
    }
    100% {
        background: #c579a4;
    }
}


.element-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.first-layer {
    position: absolute;
    width: 100%;
    height: 15%;
    background: #2185c3;
    bottom: 0;
}



.second-layer {
    position: absolute;
    top: 15%;
    height: 100%;
    width: 100%;
    z-index: 2;
    /* -webkit-box-reflect: below 5px linear-gradient(transparent, white); */
}

.second-layer .element-container .first-building {
    position: absolute;
    width: 25%;
    height: 100%;
    background: #003f68;
    clip-path: polygon(0% 0%, 70% 0%, 70% 25%, 100% 25%, 100% 100%, 0% 100%);
    z-index:3;
}
.second-layer .first-building-gallary {
    position: absolute;
    left: 17%;
    top: 19%;
    width: 7%;
    height: 10px;
    border: 2px solid #003f68;
    z-index: 4;
    display: flex;
}
.second-layer .first-building-gallary div {
    z-index: 4;
    position: absolute;
    width:10%;
    height: 10px;
    background-color: #003f68;
}
.second-layer .first-building-gallary div:nth-child(1) {
    left: 20%;
}
.second-layer .first-building-gallary div:nth-child(2) {
    left: 40%;
}
.second-layer .first-building-gallary div:nth-child(3) {
    left: 60%;
}
.second-layer .first-building-gallary div:nth-child(4) {
    left: 80%;
}


.second-layer .first-building-top-floor {
    position: relative;
    height: 5%;
    width: 17%;
    margin-left: 0%;
    top: -10px;
    display: flex;
}


.second-layer .lamp-line {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    display: flex;
}

.second-layer .lamp-line div {
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: white;
    margin: 0 20px;
    z-index: 4;
    bottom: 3px;
}
.second-layer .lamp-line div:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 6px;
    background-color: #c7eee2;

    z-index: 4;
    top: 0px;
}

.second-layer .lamp-line div:nth-child(1) {
    left: 0%;
}
.second-layer .lamp-line div:nth-child(2) {
    left: 35%;
}
.second-layer .lamp-line div:nth-child(3) {
    left: 70%;
}
.second-layer .first-building-top-floor div {
    width: 15%;
    height: 100%;
    background-color: white;
    margin: 0 4%;
    position: relative;
}
.second-layer .first-building-top-floor div::before {
    content: "";
    width: 4px;
    height: 100%;
    left: 0;
    background-color: #124f94;
    position: absolute;
}
.second-layer .first-building-top-floor div::after {
    content: "";
    width: 4px;
    height: 40%;
    right: 20%;
    top: 30%;
    background-color: #124f94;
    position: absolute;
}

.second-layer .pipeline {
    position: absolute;
    left: 3%;
    width: 3px;
    top: 3%;
    height: 40%;
    background: #124f94;
    z-index: 4;
}
.second-layer .pipeline:after {
    content: "";
    position: absolute;
    left: 3%;
    height: 3px;
    top: 0%;
    width: 40px;
    background: #124f94;
    z-index: 4;
}
.second-layer .pipeline:before {
    content: "";
    position: absolute;
    left: 40px;
    height: 8px;
    top: -5%;
    width: 3px;
    background: #124f94;
    z-index: 4;
}
.third-layer {
    position: absolute;
    bottom: 42%;
    /* background: #2185c3; */
    height: 27%;
    width: 100%;
}

.fourth-layer {
    position: absolute;
    top: 0%;
    background: #32afd5;
    height: 15%;
    width: 100%;
}

.window-container {
    position: absolute;
    left: 6%;
    top: 15%;
    z-index: 4;
    display: flex;
}
.window-container .first-line{
    margin-right: 30px;
}
.window-container .first-line div, .window-container .second-line div {
    margin: 30px 0;
}


.window-type-1 {
    width: 12px;
    height: 10px;
    background-color: #0168b2;
    position: relative;
}



.window-type-1:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 15px;
    width: 12px;
    height: 10px;
    background-color: #0168b2;
}
.window-type-2 {
    width: 12px;
    height: 10px;
    background-color: #7bbdaf;
    position: relative;
}

.window-type-2:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 15px;
    width: 12px;
    height: 10px;
    background-color: #7bbdaf;
}


.second-layer .window-type-1 .air-conditioner {
    width: 10px;
    height: 10px;
    background-color: #124f94;
    left: 25px;
    top: -18px;
    position: relative;
}
.second-layer .window-type-1 .air-conditioner:before {
    content: "";
    position: absolute;
    left: -5px;
    height: 10px;
    width: 3px;
    background-color: #124f94;
}


.second-layer .window-type-1 .air-conditioner:after {
    content: "";
    position: absolute;
    right: 2px;
    top: 3px;
    height: 4px;
    width: 4px;
    background-color: #003f67;
}


.second-layer .third-building {
    position: absolute;
    width: 15%;
    height: 100%;
    right: 0;
    background-color: #003f68;
}

.second-layer .third-building::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    border: 1px solid #003f68;
    background: linear-gradient(90deg, #003f68 0%, #003f68 2%, transparent 3%, transparent 10%, #003f68 11%, #003f68 13%, transparent 14%, transparent 21%, #003f68 22%, #003f68 25%, transparent 26%, transparent 33%, #003f68 34%, #003f68 37%, transparent 38%, transparent 45%, #003f68 46%, #003f68 49%, transparent 50%, transparent 60%,#003f68 61%, #003f68 64%, transparent 65%, transparent 75%,#003f68 76%, #003f68 79%, transparent 80%, transparent 90%, #003f68 91%, #003f68 94%, transparent 95%, transparent 100%);
    top: -10px;
}

.second-building {
    position: absolute;
    left: 45%;
    display: flex;
    width: 33%;
    height: 100%;
    /* background: red; */
}
.second-building .first {
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 20%; 
    background: #003f68;
}
.second-building .second {
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 40%;
    height: 100%; 
    background: #003f68;
    /* z-index: 5; */
}
.second-building .third {
    position: absolute;
    bottom: 0;
    width: 20%;
    left: 80%;
    height: 80%; 
    background: #003f68;
    /* z-index: 5; */

}

.second-building .four {
    position: absolute;
    bottom: 20%;
    width: 10%;
    left: 30%;
    height: 40%; 
    background: #003f68;
    /* z-index: 5; */

}
.second-window-container1 {
    position: absolute;
    left: 3%;
    top: 4%;
    z-index: 4;
    display: flex;
}

.second-window-container1 .window-type-1 {
    margin: 30px 0;
}

.second-window-container1 .window-type-2 {
    margin: 30px 0;
}

.second-window-container1 .first-line {
    margin: 0 15px;
}

 .second-window-container {
    position: absolute;
    right: 36%;
    top: 2%;
    z-index: 4;
    display: flex;
}

.second-building .second-window-container .window-type-1 {
    margin: 30px 0;
    animation: animate-red 2s infinite;
}
@keyframes animate-red {
    100% {
        background-color: white;
    }
}

.second-building .second-window-container .window-type-2 {
    margin: 30px 0;
}

.second-building .second-window-container .first-line {
    margin: 0 20px;
}


.bridge {
    background-color: #014069;
    z-index: 5;
    display: flex;
    position: absolute;
}
.bridge-one {  
    left: 25%;
    top: 45%;
    width: 30%;
    height: 20px;
}

.bridge-two {
    left: 25%;
    top: 57%;
    width: 30%;
    height: 15px;
    flex-direction: row;
}

.train  {
    display: flex;
    top: -20px;
    position: absolute;
    z-index: 2;
    width: 435px;
    height: 40px;
    overflow: hidden;
}

 .train div:before {
    content: "";
    position: absolute;
    background-color: red;
    width: 3px;
    height: 10px;
    right: 0;
    top: 20%;
}

 .train div {
    position: absolute;
    width: 120px;
    height: 20px;
    background-color: #0168b2;
    /* margin: 0 30px; */
    z-index: 2;
    animation: move-train 6s linear infinite;
}
.bridge-one .train  {
  width: 470px;
}

.bridge-one .train div {
    background-color: green;
    animation: move-train 8s linear infinite;


}
 .train div::after{
    position: absolute;
    content: "";
    background: linear-gradient(90deg, #003f68 0%, #003f68 2%, transparent 3%, transparent 10%, #003f68 11%, #003f68 13%, transparent 14%, transparent 21%, #003f68 22%, #003f68 25%, transparent 26%, transparent 33%, #003f68 34%, #003f68 37%, transparent 38%, transparent 45%, #003f68 46%, #003f68 49%, transparent 50%, transparent 60%,#003f68 61%, #003f68 64%, transparent 65%, transparent 75%,#003f68 76%, #003f68 79%, transparent 80%, transparent 90%, #003f68 91%, #003f68 94%, transparent 95%, transparent 100%);
    width: 80px;
    height: 10px;
    left: 20%;
    top: 5%;
}

 .train div:nth-child(1) {
    left: -1000px;
    animation: move-train 1s forwards;
}

 .train div:nth-child(2) {
    left: -850px;
    z-index: 1;
}
 .train div:nth-child(3) {
    left: -750px;
    z-index: 1;
}
.train div:nth-child(4) {
    left: -650px;
    z-index: 1;
}
.bridge-two .train div:nth-child(5) {
    left: -500px;
    z-index: 1;
}
 .train div:nth-child(6) {
    left: -350px;
}

.train div:nth-child(7) {
    left: -200px;
    z-index: 1;
}

.train div:nth-child(9) {
    left: 150px;
    z-index: 1;
}
.train div:nth-child(10) {
    left: 350px;
}

.train div:nth-child(11) {
    left: 500px;
    z-index: 1;
}

.train div:nth-child(12) {
    left: 650px;
    z-index: 1;
}



@keyframes move-train {
    0% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(600px);
    }
}




.pillar {
    top: 25px;
    height: 65px;
    width: 10px;
    background: #014069;
    position: relative;
    margin: 0 30px;
}
.pillar::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -20%;
    width: 140%;
    height: 5px;
    background: #014069;
}

.bridge-two .track {
    display: flex;
}

.bridge-two .track div {
    background-color: #104e94;
    width: 5px;
    height: 5px;
    margin: 0 5px;
}
.pillars-container {
    display: flex;
    position: absolute;
}
.pillar-small{
    top: 20px;
    height: 163px;
    width: 10px;
    background: #014069;
    position: relative;
    margin: 0 30px;
}

.pillar-small::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -20%;
    width: 140%;
    height: 5px;
    background: #014069;
}

.pillar-small.one {
    /* top: 0px; */
    
}

.pillar-small.two {
    /* margin-top: 0px; */
    /* margin-left: 10px; */
}

.moon {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 130px;
    height: 130px;
    border-radius: 50%;;
    background-color: orange;
    z-index: 6;
    animation: sun-to-moon 15s infinite;
    z-index: 1;
}

@keyframes sun-to-moon  {
    0% {
        background-color: orange;
        right: 0;
    }
    50% {
        background-color: orangered;
        right: 100%;
    }
    51% {
        background-color: white;

    }
    99% {
        background-color: white;
    }

    100% {
        background-color: orange;
        right: -30%;
    }
}
