
* {
    margin: 0;
    padding: 0;
}


body {
    background: #e3edf7;
    font-family: sans-serif;
}


.glass-container {
    width: 400px;
    height: 700px;
    margin: 100px auto;
    border: 1px solid black;
    background: linear-gradient(90deg, 
    #b4b2b3 1%,
    #b4b2b3 2%,
    #b2afb1 3%,
    #b2afb1 4%,
    #d8d8d8 5%,
    #d8d8d8 6%,

    #b0aeae 7%,
    #b0aeae 8%,

    #a19d9c 9%,
    #a19d9c 10%,

    #9d9897 11%,
    #9d9897 12%,

    #94908f 13%,
    #94908f 14%,

    #939290 15%,
    #939290 16%,

    #868583 17%,
    #868583 18%,

    #868583 19%,
    #868583 20%,
    #dbdada 21%,
    #dbdada 22%,
    
    #f3f3f3 23%,
    #f3f3f3 24%,

    #eae8e9 25%,
    #eae8e9 26%,

    #fefefe 27%,
    #fefefe 28%,

    #ffffff 29%,
    #ffffff 30%,

    #ffffff 31%,
    #ffffff 32%,

    #ffffff 33%,
    #ffffff 34%,
    #ffffff 35%,

    #9e9b9c 36%,
    #9e9b9c 37%,

    #2e2a29 38%,
    #2e2a29 39%,

    #211d1c 40%,
    #211d1c 41%,

    #15100f 42%,
    #15100f 43%,

    #141310 44%,

    #0f0d0b 45%,

    #0f0b09 46%,

    #0d0606 47%,
    #484443 48%,
    #62615f 49%,
    #696765 50%
    );
}