

:root {
    --body: #ff533e;
    --mouth: #000000;
    --feather: #939393;
    --beak-top: #e9581a;
    --beak-down: #aa4c21;
    --leg: black;
}

.bird-container {
    width: 400px;
    height: 400px;
    position: absolute;
    transform: scale(0.5);
    bottom: -5%;
    right: 200%;
    width: 40%;
    z-index: 7;
    animation: bird-container 3s forwards;
}

@keyframes bird-container {
    100% {
        right: 21%;
    }
}

 .body,  .mouth,  .feather,  .tail, .beak, .mouth::before, .mouth::after, .leg, .leg::after, .leg::before {
    position: absolute;
}
 .body,  .mouth, .feather, .beak, .mouth::before, .mouth::after  {
    border-radius: 50%;
}

.bird-container .body {
    top: 26px;
    left: 50px;
    height: 180px;
    width: 200px;
    transform: rotate(-17deg);
    background: linear-gradient(to bottom, transparent 0%, transparent 20%, var(--body) 20%);
    z-index: 2;
}

.bird-container .mouth {    
    background:  var(--mouth);
    top: 20px;
    left: 175px;
    width: 100px;
    height: 100px;
    transform: rotate(-17deg);
    z-index: 5;
}
.bird-container .mouth::before {
    content: "";
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    top: 20px;
    left: 40px;
}
.bird-container .mouth::after {
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    top: 30px;
    left: 55px;
    animation: animate-eye 1s infinite;
    animation-delay: 4s;
}

@keyframes animate-eye {
    50% {
        height: 5px;
    }
}


.bird-container .feather {
    z-index: 4;
    left: 44px;
    top: -6px;
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--feather) 50%);
    transform: rotate(-17deg);
}

.bird-container .tail {
    width: 150px;
    height: 60px;
    background-color: var(--mouth);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    top: 92px;
    left: -24px;
    transform: rotate(-17deg);
    z-index: 3;
}
.bird-container .beak {
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, var(--beak-top) 0%, var(--beak-top) 15%, transparent 15% );
    left: 224px;
    top: 40px;
    z-index: -1;
    transform: rotate(-17deg);
}
.bird-container .leg {
    background: var(--leg);
    height: 50px;
    width: 10px;
    border-radius: 10px;
    top: 215px;
    left: 125px;
    transform: rotate(-15deg);
    z-index: 1;
}
.bird-container .leg::before {
    bottom: -8px;
    content: "";
    width: 40px;
    height: 9px;
    background: var(--leg);
    border-radius: 10px;
    transform: rotate(15deg);
    z-index: -1;
}
.bird-container .leg::after {
    top: -8px;
    content: "";
    width: 30px;
    height: 9px;
    background: var(--leg);
    border-radius: 10px;
    transform: rotate(-15deg);
    z-index: -1;
}


.bee-collection {
    position: absolute;
    left: 120%; 
    animation: bee-aniamtion 10s infinite;
}

@keyframes bee-aniamtion {
    20% {
        left: 50%; 
    }
    50% {
         left: 45%;
    }
    60% {
        left: 35%;
    }
   
    100% {
        left: -300%;
    }
}

.bee-container {
    margin: 0px auto;
    width: 600px;
    height: 400px;
    z-index: 7;
    transform: scale(0.1);
    position: absolute;
}
.bee-container:nth-child(1) {
    left: 200px;
}
.bee-container:nth-child(2) {
    left: 100px;
    top: 100px;
}
.bee-container:nth-child(3) {
    left: 0px;
}

.bee {
    width: 340px;
    height: 180px;
    background: linear-gradient(#fdca2a 0%,#fdca2a 60%, #f29d0f 61%, #f29d0f 100%);
    border-radius: 100px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    overflow: hidden;

}

.bee .pat div {
    background-color: #000000;
    width: 60px;
    height: 100%;
    position: absolute;
    /* z-index: 3; */
}

.bee .pat div:nth-child(1), .bee-top div:nth-child(1) {
    right: -5px;
}

.bee .pat div:nth-child(2),  .bee-top div:nth-child(2) {
    right: 90px;
}

.bee .pat div:nth-child(3),  .bee-top div:nth-child(3) {
    right: 185px;
    
}

.bee-container .top {
    position: absolute;
    top: 20px;
    right: 70px;
    width: 50%;
    height: 20%;
    background-color: #fce39f;
    z-index: 1;
    border-radius: 30px;
}

.bee-container .eye {
    left: 10%;
    bottom: 50%;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #001b2e;
}

.bee-container .legs {
    position: absolute;
    bottom: -30px;
    display: flex;
    width: 15%;
    left: 20%;
    justify-content: space-between;
    border: none !important;
   
}

.bee-container .legs div {
    background-color: #001b2e;
    width: 20px;
    height: 50px;
    border-radius: 10px;
    transform-origin: top;
    transform: rotate(-20deg)
}

.bee-container .tail {
    width: 40px;
    height: 15px;
    border-radius: 8px;
    position: absolute;
    left: 340px;
    bottom: 90px;
    background-color: black;
}

.top-up {
    position: absolute;
    bottom: 185px;
    left: 80px;
    width: 200px;
    height: 40px;
    background-color: #f098c2;
    border-radius: 30px;
    transform: scale(0.8);
}

.top-up div:nth-child(1) {
    position: absolute;
    bottom: -0px;
    left:-30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #f098c2;
}
.top-up div:nth-child(2) {
    position: absolute;
    bottom: -0px;
    right:-30px;
    width: 140px;
    height: 130px;
    border-radius: 50%;
    background-color: #f098c2;
}
