
:root {
    --bg-start: #3e92b4;
    --bg-end: #57c8f5;
}

html {
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
}


body {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to bottom, var(--bg-start), var(--bg-end)); */
    overflow: hidden;
    animation: animate-container 10s infinite;
}

@keyframes animate-container {
    0% {
        background-color: #3ba4db;
    }
    25% {
        background-color: #f8792d;
    }
    50% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    90% {
        background-color: rgb(0, 0, 0, 0.5);
    }
    100% {
        background-color: #3ba4db;
    }
}

.little-star {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
    position: absolute;
    animation: twinkling 2s ease-in infinite;
}

@keyframes twinkling {
    50% {
        transform: scale(0.3);
    }
}
.moon {
    animation: animate-moon 2s forwards;
    top: -40%;
}

@keyframes animate-moon {
    100% {
        top: 20%;
    }
}