
* {
    margin: 0;
    padding: 0;
}


body {
    background: mediumpurple;
    font-family: sans-serif;
}



.triangles {
    display: flex;
    margin: 100px 20px;
}

.triangle {
    height: 100px;
    width: 100px;
    background: linear-gradient(to top right, #86F7CC, #67D7F5);
    margin-left:10px;
    
}

label {
    font-size: 10px;
    color: white;
}
.label-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: black;
   
}

.triangle-wrapper {
    background-color: white;
    box-shadow: 4px 4px 4px black;
    padding: 50px 10px;
    margin: 0 10px;
}
.right-angled-traingle {
    clip-path: polygon(0 0, 100% 100%, 0% 100%); 

}
.equivalent-triangle {
    clip-path: polygon(50% 0, 100% 100%, 0% 100%); 
}

.random-triangle1 {
    clip-path: polygon(50% 0, 10% 100%, 0% 100%); 
}
.random-triangle2 {
    clip-path: polygon(50% 0, 70% 100%, 0% 70%); 
}
.random-triangle3 {
    clip-path: polygon(0% 0, 10% 10%, 0% 100%); 
}
.random-triangle4 {
    clip-path: polygon(0% 0, 10% 80%, 80% 10%); 
}
.random-triangle5 {
    clip-path: polygon(0% 0, 50% 100%, 0% 100%); 
}
